[color]
	diff = auto
	status = auto
	branch = auto
[user]
	name = Kevin Cazelles
	email = kcazelle@uoguelph.ca
[github]
	user = KevCaz
[core]
	editor = nano
[credential]
	helper = cache --timeout=14400
[alias]
	last = log -1 HEAD
	mylog = log --oneline --graph
	all = add -A
[http]
	sslVerify = true
[pull]
	rebase = false
