"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3fc44686-334b-470e-a02a-e79f37adc049"
  "autocomplete-bibtex":
    bibtex: [
      "/home/kevcaz/ownCloud/kevcaz.bib"
    ]
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Roboto Mono for powerline"
    fontSize: 21
    softWrap: true
  "exception-reporting":
    userId: "1a84665e-d7b7-4a0c-9bb3-ad96960f1694"
  "julia-client":
    firstBoot: false
  linter:
    disabledProviders: [
      "lintr"
    ]
  "linter-ui-default":
    showPanel: true
  minimap:
    adjustAbsoluteModeHeight: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#042029"
        blue: "#3461a4"
        cyan: "#3de2f0"
        green: "#12ae8e"
        magenta: "#89097c"
        red: "#d94d4d"
        yellow: "#d5cd56"
      zBright:
        brightBlack: "#b1adad"
        brightBlue: "#4481dc"
        brightGreen: "#14deb5"
        brightMagenta: "#cc0db8"
        brightRed: "#f95959"
    style:
      core:
        scrollback: 2000
      defaultPanelHeight: "500px"
      theme: "solarized-dark"
      toggles:
        selectToCopy: false
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm"
    ]
    locales: [
      "en-US"
      "fr-CA"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
