"*":
  "atom-beautify":
    cpp: {}
    general:
      _analyticsUserId: "3fc44686-334b-470e-a02a-e79f37adc049"
    r: {}
  "atom-ide-ui":
    "atom-ide-terminal":
      fontFamily: "Droid Sans Mono for powerline bold, courier-new, courier, monospace"
    use: {}
  "autocomplete-bibtex":
    bibtex: [
      "/home/kevcaz/Dropbox/kevcaz.bib"
    ]
  "autocomplete-emojis":
    enableUnicodeEmojis: false
  "autocomplete-font-awesome":
    version: "4.7.0"
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "ink"
      "language-hugo"
      "linter"
      "language-markdown"
      "language-r"
      "linter-lintr"
      "markdown-to-html"
      "random"
      "git-diff"
      "atom-ide-ui"
      "ide-r"
      "markdown-preview-enhanced"
    ]
    telemetryConsent: "limited"
    themes: [
      "framer-ui"
      "framer-syntax"
    ]
    warnOnLargeFileLimit: 1
  editor:
    fontFamily: "Roboto Mono for Powerline"
    fontSize: 21
    softWrap: true
  "exception-reporting":
    userId: "1a84665e-d7b7-4a0c-9bb3-ad96960f1694"
  "file-icons": {}
  "julia-client":
    firstBoot: false
  linter:
    disabledProviders: [
      "lintr"
      "cpplint"
    ]
  "linter-ui-default":
    panelHeight: 280
  minimap:
    adjustAbsoluteModeHeight: true
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#042029"
        blue: "#3461a4"
        cyan: "#3de2f0"
        green: "#12ae8e"
        magenta: "#89097c"
        red: "#d94d4d"
        yellow: "#d5cd56"
      zBright:
        brightBlack: "#b1adad"
        brightBlue: "#4481dc"
        brightGreen: "#14deb5"
        brightMagenta: "#cc0db8"
        brightRed: "#f95959"
    style:
      core:
        scrollback: 2000
      defaultPanelHeight: "500px"
      theme: "solarized-dark"
      toggles:
        selectToCopy: false
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm"
      "source.gfm.rmd"
      "text.md"
      "text.Rmd"
      "text.tex.latex"
    ]
    locales: [
      "en-US"
      "fr-FR"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  term3:
    colors:
      background: "#1d1d1d"
      brightBlack: "#6c6c6c"
      normalBlack: "#1d1d1d"
      normalGreen: "#2d6546"
      normalRed: "#ae5c68"
  "tree-view": {}
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
".md.text":
  editor:
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
