'atom-text-editor':
  'cmd-alt-k': 'insert-a-pipe'
  'cmd-alt-j': 'insert-assignement'
  'cmd-alt-l': 'insert-is-element'
  'cmd-alt-h': 'insert-reassignement'
  'cmd-alt-t': 'insert-tee-operator'
  'cmd-alt-y': 'insert-tee-print'
  'cmd-alt-b': 'insert-breakline'
  'cmd-alt-f': 'insert-shortcode'
  'cmd-alt-o': 'insert-exlusive-or'
  # 'ctrl-alt-enter': 'platformio-ide-terminal:insert-selected-text'
