# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'Code chunk': 
    'prefix': 'cc'
    'body': '```{R}\n$1\n```'
  'Fontawesome':
    'prefix': 'fa'
    'body': '<i class="fa fa-$1" aria-hidden="true"></i>$2'
  'CRAN':
    'prefix': 'cran'
    'body': '[`$1`](https://CRAN.R-project.org/package=$1)'
  'eval_false':
    'prefix': 'eva'
    'body': 'eval = FALSE'
  'Travis':
    'prefix': 'trav'
    'body': '[Travis](https://travis-ci.org/)'
  'Shortcode':
    'prefix': 'shtcod'
    'body': '{{< name$1 arg >}}'
  'ImageCenter':
    'prefix': 'imgc'
    'body': '{{< imgcenter path$1 $2 >}}'
  'figcenter':
    'prefix': 'fig'
    'body': '{{< figcenter path$1 $2 >}}'
  'fontawesome with R':
    'prefix': 'rfa'
    'body': '`r icon::fontawesome("$1")`'
  'DOI':
    'prefix': 'doi'
    'body': '{{< doi "$1" >}}'
  'JuliaBloc':
    'prefix': 'jul'
    'body': '```julia\n$1\n```'
  'EquationSytem':
    'prefix': 'equ'
    'body': "\\\\left\{\n \\\\begin{array}{r c l}\n  y &=& x - y\\\\\\\\\n  x &=& y \n \\\\end{array}\n\\\\right."


'.source.r':
  'function':
    'prefix': 'fun'
    'body': '$1 <- function($2) {\n x$3 \n}'
  'dataframe':
    'prefix': 'dat'
    'body': 'data.frame($1)'
  'lonlat':
    'prefix': 'lon'
    'body': 'c("longitude", "latitude")'
  'plot':
    'prefix': 'plot'
    'body': 'plot($1, $2, xlab = "", ylab = "", pch = 1, las = 1)'
  'save_png':
    'prefix': 'png'
    'body': 'png($1, width = 7, height = 7, units = "in", res = 300)\ndev.off()'